<!--
  This is a reusable footer component present on every page of the website.
 -->
<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <!-- Colonne 1 -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-info">
          Barber&Style
        </h5>
        <p>
          Barber&Style offre des coupes de cheveux tendances. Nos experts
          coiffeurs sont passionnés et déterminés à créer votre look parfait.
        </p>
      </div>

      <!-- Colonne 2 -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-normal text-info">
          Coiffure
        </h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">
            coupe</a
          >
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">
            Barbe</a
          >
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">
            couleur</a
          >
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">
            tresse</a
          >
        </p>
      </div>

      <!-- Colonne 3 -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-normal text-info">info</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">
            Acceuil</a
          >
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">
            A propos</a
          >
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">
            Services</a
          >
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none">
            Contact</a
          >
        </p>
      </div>

      <!-- Colonne 4 -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-normal text-info">
          Contact
        </h5>
        <p class="text-normal">Boulevard des écoles</p>
        <p>barberstyle@yahoo.com</p>
        <p>06.17.53.46.94</p>
        <p>09.09.09.09.09</p>
      </div>

      <hr class="mb-4" />

      <!-- Colonne 5 -->
      <div class="col-md-7 col-lg-8">
        <p>
          Copyright &copy;2023 All rights reserved by
          <a href="#" style="text-decoration: none">
            <strong class="text-info">Idelton</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
