<!--
  This is a reusable header component present on every page of the website.
 -->
 <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <!-- En-tête de navigation avec logo -->
  <div class="container">
    <a class="navbar-brand" href="#"><span>Barber</span><span>
        <i class="fa fa-scissors"></i></span class="style">Style</a>
    <!-- Bouton de bascule pour les écrans de petite taille -->
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
        class="navbar-toggler-icon"></span></button>
    <!-- Contenu de la barre de navigation -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Éléments de navigation -->
        <li class="nav-item">
          <a class="nav-link" href="index.html">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services.html">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="getstarted" href="index.html">Connexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
